//- template.pug
-
    var style = {
        accent: '2F80ED'
    }
    var username = 'Skitionek'

include utils.pug

h1(align="center") 
    | Hi, I'm Dominik
p(align="center")
    img(src="https://komarev.com/ghpvc/?username=skitionek&label=Profile%20views&color=2F80ED&style=for-the-badge" alt="skitionek")
    | 
    img(src="https://img.shields.io/github/followers/skitionek?label=Followers&style=for-the-badge&color=2F80ED" alt="followers")
    | 
    img(src="https://img.shields.io/github/stars/skitionek?label=Stars&style=for-the-badge&color=2F80ED" alt="stars")
+hr
h3(align="center") Open Source Contributions
|
div(align="center")
    | <!-- region github-pr-stats -->
    | <!-- endregion -->
|
|
