-
    function object_to_query(obj) {
        return '?' + new URLSearchParams(obj)
    }
    function merge(...objs) {
        return Object.assign({}, ...objs)
    }
    function keys(obj) {
        return Object.keys(obj)
    }
    function ommit(obj, ...keys) {
        return Object.fromEntries(Object.entries(obj).filter(([key]) => !keys.includes(key)))
    }
    function pick(obj, ...keys) {
        return Object.fromEntries(Object.entries(obj).filter(([key]) => keys.includes(key)))
    }

// Does not work in firefox
//mixin variable-picture(href, options={})
//    picture
//        each media_kv in Object.entries(attributes['prefers-color-scheme'] || {})
//            source(
//                media=`(prefers-color-scheme: ${media_kv[0]})`
//                srcset!=href + object_to_query(merge(options, media_kv[1]))
//            )
//        img(
//            src!=href + object_to_query(options)
//        )&attributes(ommit(attributes, 'prefers-color-scheme'))
mixin img()
    |
    | [![!{attributes.alt || 'image placeholder'}](!{(attributes.src)})](!{attributes.href || '_blank'})

mixin variable-picture(src, options={})
    if attributes['dark-mode'] || attributes['light-mode']
        +img&attributes(merge(
            attributes,
            {
                src: src + object_to_query(merge(
                    options,
                    (attributes['dark-mode'] || {})
                )) + '#gh-dark-mode-only',
                href: (attributes.href || '') + '#gh-dark-mode-only',
                alt: (attributes.alt || '') + '-Dark'
            }
        ))
        +img&attributes(merge(
            attributes,
            {
                src: src + object_to_query(merge(
                    options,
                    (attributes['light-mode'] || {})
                )) + '#gh-light-mode-only',
                href: (attributes.href || '') + '#gh-light-mode-only',
                alt: (attributes.alt || '') + '-Light'
            }
        ))
    else
        +img&attributes(merge(
            attributes,
            {src: src + object_to_query(options)}
        ))
