-
    var github_readme_streak_stats = {
        user: username,
        hide_border: true,
        ring: style.accent,
        currStreakLabel: style.accent,
        background: '00000000'
    }

mixin github-readme-streak-stats(options={})
    +variable-picture(
        'https://github-readme-streak-stats.herokuapp.com' + (options.kind ? `/${options.kind}/` : ''),
        merge(
            github_readme_streak_stats,
            options
        )
        )(
        prefers-color-scheme={
            'dark': { 'theme': 'dark' },
            'light': { 'theme': 'light' }
        }
    )&attributes(attributes)
